* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f0f0f0;
    color: #333;
}
.static-label {
    font-size: .7rem;
}
.settings-viewer {
    display: block;
    width: 82%;
    margin: 5% auto;
    background-color: #f0f0f0;
}
.device-group-container {
    background-color: #f0f0f0;
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 3px solid #ccc;
    border-radius: 1.2em;
}
.accordion .accordion-label {
    color: #f0f0f0;
    background-color: #3c3939;
    text-align: left;
}
.device-group-container .accordion-label{ 
    top: 0;
    width: auto;
    min-height: 3em;
    align-items: center;
    border-radius: .9em .9em .3em .3em;
    padding: 1.5em;
    
    justify-content: center;
    vertical-align: middle;
    

}
.device-group-container .accordion-label:hover{
    background-color: #555454;
}
.device-group-container .accordion-label:active{
    font-weight: bold;
    margin-right: 10px;
    background-color: #555454;
}
.device-type-container .accordion-label{
    top: 0;
    width: 100%;
    min-height: 3em;
    align-items: center;
    border-radius: .9em .9em .3em .3em;
    text-align: left;
    vertical-align: middle;
}
.device-type-container {
    background-color: #f0f0f0;
    width: 96%;
    margin: 1px auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    border: 3px solid #ccc;
    border-radius: 1.2em;
   
}
.device-type-container .accordion-label:hover{
    background-color: #555454;
}

.device-type-container .wrapper .device-setting-container {
    color: #f0f0f0;
    display: grid;
    background-color: #333;
    border: 1px solid #ccc;
    padding: 0.5em;
    margin: 0.5em;
    grid-template-columns: 1fr;
    width: calc(100% - 1em); 
    text-align: center;
}

.device-type-container .ui-accordion-content {
    background-color: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 2fr));
    grid-template-rows: repeat(auto-fill, 1fr);
    gap: 1rem;
}

.device-setting-container .config-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95%

}
.device-setting-container .config-input-container > * {
    height: 95%;
    margin-left: .1em;
    color: #3c3939;
}
.device-setting-container .config-input-container > label {
    width: 30%;
}
.device-setting-container .config-input-container > input {
    width: 60%;
    background-color: #ffffff;
    border: 2px solid #3c3939;
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1em;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.device-setting-container .config-input-container > input:focus {
    border-color: #555454;
    outline: none;
    box-shadow: 0 0 5px rgba(85, 84, 84, 0.8);

}
.device-setting-container .config-input-container > .warning-label {
    color: #ff0000;
    width: fit-content;
}
.device-setting-container .config-input-container > .success-label {
    color: #007c0a;
    width: fit-content;
}
.device-setting-container .config-input-container > .warning-label .active, .device-setting-container .config-input-container > .success-label .active {
    display: grid;
}
.config-input-container > .select-option-widget {
    width: auto;
    display: flex;
}

