<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" defer>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/widgets.css') }}" defer>
</head>

<body>
    <header>
        <h1>Network Dashboard</h1>
        <nav id="navbar">
            {% include 'includes/navbar.html' %}
        </nav>
    </header>
    
    <main>
        {% if content is iterable and not content|string %}
            {% for item in content %}
                {{ item.generate_html() | safe }}
            {% endfor %}
        {% else %}
            {{ content.html | safe }}
        {% endif %}
        
        {% if buttons is iterable %}
            {% for button in buttons %}
                {{ button.html | safe }}
            {% endfor %}
        {% endif %}
        
        {% block content %}{% endblock %}
    </main>
    <footer>
        {% for button in footer_buttons %}
            {{ button.html | safe }}
        {% endfor %}
        
        {% include 'includes/footer.html' %}
    </footer>
</body>

</html>