{% set tabs = [
    {'label': 'General', 'href': '/settings', 'active': True},
    {'label': 'Devices', 'href': '/settings/devices', 'active': False},
    {'label': 'Device Defaults', 'href': '/settings/device_defaults', 'active': False}
  ] %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}" defer>
<script src="{{ url_for('static', filename='js/settings.js') }}" defer></script>
{% extends 'DefaultPage.html' %}

{% block title %} Home {% endblock %}


{% block content %}





{% include 'includes/add_device.html' %}

{% endblock %}
