<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Semester Project</title>
        <link rel="stylesheet" href="../static/css/styles.css">
        <script src="../static/js/app.js" defer></script>
    </head>
    <body>
        </header>
        {% include 'includes/navbar.html' %}
        
        <main>

        </main>
        <footer>
            <p>&copy; 2023 Semester Project</p>
            
        </footer>
    </body>